.box1>div {
    height: 80px;
    border: 1px solid white;
    background-color: lightblue;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.box1 .center-div {
    flex-grow: 2;
    display: flex;
    align-items: center;
}

.sök-produkt {
    border-radius: 10px;
    margin-left: 20px;
}

.box1 {
    display: flex;
    border: none;
}

.main-icons {
    display: flex;
    justify-content: space-around;
    wi align-items: center;
    gap: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.nav-menu ul {
    font-size: 2em;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0%;
}

.nav-menu ul li {
    margin-left: 15px;
}

.main-box {
    display: flex;
    flex-direction: row;
}

.text-container {
    text-align: center;
    font-size: large;
    border: 1px solid white;
    background-color: beige;
    flex-grow: 1;
}

.text-container h2 {
    margin-top: 100px;
}

.text-container p {
    margin-left: 40px;
    margin-right: 40px;
}

.btn {
    display: block;
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 4px;
    width: 80px;
    margin: 0 auto;
}